*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#preloader{
    background: #000000;
    display: block;
    margin: auto 0px;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#banner{
    background: url(images/watchbg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

nav{
    display: flex;
    padding: 0.1% 3%;
    justify-content: space-between;
    align-items: center;
    background: #ffffff11;
}

nav img{
    width: 80px;
}

.navlinks{
    flex: 1;
    text-align: right;
}

.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px;
    position: relative;
}

.navlinks ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.navlinks ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navlinks ul li:hover::after{
    width: 100%;
}

.textbox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textbox h1{
    font-size: 62px;
}

.textbox p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}